@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-family: 'bai jamjuree', sans-serif;
}

.header {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1{
    font-size: 25px;
    font-weight: 500;
}

nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
}

main {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

main section {
    margin-bottom: 20px;
}

main section h1 {
    font-size: 25px;
    font-weight: 500;
}

.project {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f5f5f550;
    padding: 20px;
    border-radius: 10px;
}

button {
    background-color: #ff5555;
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-top: 10px;
}

.blog {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f5f5f550;
    padding: 20px;
    border-radius: 10px;
}

.contact p {
    margin-top: 10px;
    background-color: rgba(245, 245, 245, 0.104);
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
}